
/* Your CSS Code here. */
.holder{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-evenly;
}

.item{
	width:100px;
	height:100px;
	font-size:40px;
}
.red{
	background-color:red;
}
.green{
	background-color:green;
}
.blue{
	background-color:blue;
}